body {
    margin: 0;
    padding: 0;
}

/* fonte normal */
@font-face {
    font-family: 'SFUIText-Regular.ttf';
    font-style: normal;
    font-weight: bold;
    src: local('fonte/SFUIText-Regular.ttf'), url('fonte/SFUIText-Regular.woff') format('woff');
}

/* fonte normal italica */
@font-face {
    font-family: 'SFUIText-Italic.ttf';
    font-style: normal;
    font-weight: bold;
    src: local('fonte/SFUIText-Italic.ttf'), url('fonte/SFUIText-Italic.woff') format('woff');
}

/* fonte negrito  */
@font-face {
    font-family: 'SFUIText-Bold.ttf';
    font-style: normal;
    font-weight: bold;
    src: local('fonte/SFUIText-Bold.ttf'), url('fonte/SFUIText-Bold.woff') format('woff');
}

/* fonte negrito italica */
@font-face {
    font-family: 'SFUIText-BoldItalicG1.ttf';
    font-style: normal;
    font-weight: bold;
    src: local('fonte/SFUIText-BoldItalicG1.ttf'), url('fonte/SFUIText-BoldItalicG1.woff') format('woff');
}

/* fonte negrito italica */
@font-face {
    font-family: 'SFUIText-Heavy.ttf';
    font-style: normal;
    font-weight: bold;
    src: local('fonte/SFUIText-Heavy.ttf'), url('fonte/SFUIText-Heavy.woff') format('woff');
}

/* 
cores 
#e1316c
#fc9e19
#405de4
*/

/* Fundo */
.background {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100vh;
    justify-content: center;
    filter: blur(50px);
    z-index: -1;
}
.pinkCircle {
    position: relative;
    width: 500px;
    height: 500px;
    background: #e1316c;
    border-radius: 50%;
    right: 400px;
    top: 300px;
}
.yellowCircle {
    position: relative;
    width: 350px;
    height: 350px;
    background: #fc9e19;
    border-radius: 50%;
    right: 400px;
}
.blueCircle {
    position: relative;
    width: 800px;
    height: 800px;
    background: #405de4;
    border-radius: 50%;
    bottom: 170px;
    right: 210px;
}

/* section com Bg Fixo */
.topo {
    width: 100%;
    height: 100vh;
}
.footer {
    width: 100%;
    height: 30vh;
    background: #b3b2b270;
    border-radius: 50px 50px 0px 0px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}
.navbar .logoImg {
    width: fit-content;
    height: fit-content;
    padding: 30px;
    margin-left: 50px;
}
.navbar .logoImg a {
    color: white;
    text-decoration: none;
    font-family: 'SFUIText-Regular.ttf';
    font-size: 1.8vw;
}
.navbar .navBtn {
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: fit-content;
    padding: 30px;
    margin-right: 100px;
}
.navbar .navBtn a {
    color: black;
    text-decoration: none;
    font-family: 'SFUIText-Heavy.ttf';
    font-size: 25px;
}
.navbar .navBtn a:hover {
    transform: scale(1.1);
    transition: 1.5s ease;
    cursor: pointer;
}

/* footer */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 30vh;
    background: #b3b2b270;
    border-radius: 50px 50px 0px 0px;
}

.btn-footer {
    display: flex;
    justify-content: space-between;
    width: 75%;
    height: 100px;
}
.btn-footer a {
    font-size: 28px;
    height: fit-content;
    color: black;
    font-family: 'SFUIText-Bold.ttf';
    text-decoration: none;
}
.btn-footer a:hover {
    transform: scale(1.05);
    transition: 1s ease;
}

.direitos-footer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 100px;
}
.direitos-footer p {
    font-size: 18px;
    color: black;
    font-family: 'SFUIText-Regular.ttf';
}
.direitos-footer u {
    text-decoration: none;
}
.direitos-footer u:hover {
    border-bottom: 1px solid black;
}
.direitos-footer p:hover {
    transform: scale(1.02);
    transition: 1.5s ease;
    cursor: pointer;
}

/* Formulario de Login */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}

.formBlue-login {  /* estilo */
    position: relative;
    width: 430px;
    height: 450px;
    background: #7c9cff;
    border: 4px solid #7c9cff;
    border-radius: 40px;
    left: 70px;
    padding-right: 100px;
}
.formBlue-login { /* formatação do conteudo */
    display: flex;
    flex-direction: column;
}
.formBlue-login h1 {
    font-size: 40px;
    font-family: 'SFUIText-Regular.ttf';
    color: #fff;
    padding-top: 100px;
    margin: 0;
}
.formBlue-login .text-login {
    width: 241px;
    text-align: center;
}
.formBlue-login p {
    font-size: 25px;
    font-family: 'SFUIText-Regular.ttf';
    color: #fff;
    padding-bottom: 10px;
}
.formBlue-login .cadBtn-login {
    padding: 11px;
    border: 3px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    font-family: 'SFUIText-Bold.ttf';
    cursor: pointer;
}
.formBlue-login .cadBtn-login:hover {
    transform: scale(1.05);
    transition: 0.4s ease;
}

.formLoginWhite { /* estilo */
    position: relative;
    width: 430px;
    height: 450px;
    background: #fff;
    border: 4px solid #b3b3b3;
    border-radius: 40px;
    right: 70px;
}
.formLoginWhite { /* formatação conteudo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formLoginWhite input {
    font-size: 25px;
    background: #d6d6d6;
    border: none;
    width: 250px;
    border-radius: 25px;
    font-family: 'SFUIText-Regular.ttf';
    padding: 10px;
    margin-top: 20px;
}
.formLoginWhite input::placeholder {
    position: relative;
    left: 50px;
    color: #545454;
}
.formLoginWhite button {
    color: #fff;
    background: #e1316c;
    font-size: 25px;
    width: 140px;
    font-family: 'SFUIText-Bold.ttf';
    padding: 10px;
    border-radius: 25px;
    border: none;
    margin-top: 30px;
    margin-bottom: 50px;
}
.formLoginWhite button:hover {
    transform: scale(1.05);
    transition: 0.5s ease;
    cursor: pointer;
}
#user-login {
    font-size: 30px;
    position: relative;
    top: 60px;
    right: 100px;
    color: #545454;
}
#user-lock {
    font-size: 30px;
    position: relative;
    top: 60px;
    right: 100px;
    color: #545454;
}

.modulo {
    display: flex;
    flex-direction: column;
    width: 93%;
    height: 100%;
    border-radius: 40px;
    align-items: center;
}
@media (max-width:920px) {
    .background .blueCircle {
        display: none;
    }
}