body {
    background: rgb(9, 24, 54);
    background: linear-gradient(90deg, rgba(9, 24, 54, 1) 0%, rgba(96, 111, 130, 1) 100%);
    margin: 0;
    padding: 0;
    font-family: poppins;
}

@font-face {
    font-family: poppins;
    src: url(../assets/fonte/Poppins/Poppins-Regular.ttf);
}

@media screen and (min-width: 720px) {

    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 84vh;
        width: 100vw;
        background: rgb(9, 24, 54);
        background: linear-gradient(90deg, rgba(9, 24, 54, 1) 0%, rgba(96, 111, 130, 1) 100%);
    }

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-height: 100px;
        height: 16vh;
        width: 100vw;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;
        width: 10%;
    }

    .box {
        display: flex;
        flex-direction: row;
        background-color: #fff;
        width: clamp(600px, 65%, 1000px);
        height: clamp(400px, 80%, 600px);
        border-radius: 51px;
        position: relative;
        /* z-index: 10; */
    }

    .box::before {
        content: "";
        position: absolute;
        border-radius: 45px 0 0 45px;
        left: 0;
        /* z-index: 11; */
        width: 45%;
        height: 100%;
        background-color: #091836;
    }

    .box button {
        background-color: white;
        color: #091836;
        font-family: poppins;
        font-weight: bold;
        font-size: 25px;
        /* width: 50%; */
        border-radius: 15px;
        cursor: pointer;
    }

    .swapMenu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 45%;
    }

    .swapMenu .texto {
        color: white;
        width: 60%;
        text-align: center;
    }

    .content {
        width: 55%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        z-index: 10;
    }

    .inputs {
        width: clamp(200px, 90%, 1000px);
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .divInputs {
        display: flex;
        flex-direction: column;
    }

    @media screen and (max-width: 1200px) {
        .divInputs input {
            width: 90%
        }
    }


    .content button {
        background-color: #091836;
        color: white;
        font-family: poppins;
        font-weight: bold;
        font-size: 25px;
        /* width: 30%; */
        border-radius: 15px;
        cursor: pointer;
    }

    .login .swapMenu {
        z-index: 12;
    }

    .cadastro {
        position: absolute;
        /* background-color: white; */
    }

    .cadastro .swapMenu {
        z-index: -1;
    }

    .cadastro .content {
        z-index: -1;
    }

    .alterarParaCadastro .login .swapMenu {
        z-index: -1;
        position: relative;
        animation: aparecer 2s;
    }

    .alterarParaCadastro .login .content {
        z-index: -1;
        position: relative;
        animation: deslocamentoEsq 2s;

    }

    .alterarParaCadastro .box::before {
        z-index: 11;
        left: 55%;
        border-radius: 0 45px 45px 0;
        animation: slidein 2s;
    }

    .alterarParaCadastro .cadastro .swapMenu {
        z-index: 12;
        position: relative;
        animation: aparecerDir 2s;
    }

    .alterarParaCadastro .cadastro .content {
        z-index: 10;
        animation: surgir 2s;

    }

    /*  */

    .alterarParaLogin .cadastro .swapMenu {
        position: relative;
        z-index: -1;
        /* animation: aparecer 10s; */
    }

    .alterarParaLogin .cadastro .content {
        position: relative;
        z-index: -1;
        animation: deslocamentoDir 2s;
    }

    .alterarParaLogin .box::before {
        z-index: 11;
        border-radius: 45px 0 0 45px;
        left: 0;
        animation: slideout 2s;
    }

    .alterarParaLogin .login .swapMenu {
        z-index: 12;
        position: relative;
        animation: aparecerEsq 2s;
    }

    .alterarParaLogin .login .content {
        z-index: 10;
        animation: surgir 2s;
    }

    @keyframes deslocamentoEsq {
        from {
            left: 0;
            opacity: 1;
            z-index: 11;

        }


        30% {
            opacity: 0;
        }

        to {
            left: -20%;
            opacity: 0;
            z-index: -1;
        }
    }

    @keyframes deslocamentoDir {

        from {
            left: 0;
            opacity: 1;
            z-index: 11;
        }

        30% {
            opacity: 0;
        }

        to {
            left: 55%;
            opacity: 0;
            z-index: -1;
        }
    }

    @keyframes slidein {

        from {
            left: 0;
            border-radius: 45px 0 0 45px;
        }

        to {
            left: 55%;
            border-radius: 0 45px 45px 0;
        }
    }

    @keyframes slideout {

        from {
            left: 55%;
            border-radius: 0 45px 45px 0;

        }

        to {
            left: 0;
            border-radius: 45px 0 0 45px;
        }
    }

    @keyframes aparecerEsq {
        from {
            left: 55%;
            opacity: 0;
        }

        to {
            opacity: 1;
            left: 0;
        }
    }

    @keyframes aparecerDir {
        from {
            left: -55%;
            opacity: 0;
        }

        to {
            opacity: 1;
            left: 0;
        }
    }

    @keyframes surgir {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    input {
        height: 40px;
        width: 200px;
        background-color: #d9d9d9;
        border: none;
        border-radius: 20px;
        padding-left: 10px;
    }

    .form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form button {
        width: 30%;
    }
}




@media screen and (max-width: 720px) {

    .main {
        display: flex;
        /* justify-content: center; */
        /* align-items: center; */
        height: min(800px, 84vh);
        width: 100vw;
        background: rgb(9, 24, 54);
        background: linear-gradient(90deg, rgba(9, 24, 54, 1) 0%, rgba(96, 111, 130, 1) 100%);
        overflow: visible;
    }

    .navbar {
        display: flex;
        align-items: center;
        height: 16vh;
        min-height: 80px;
        width: 100vw;
        overflow: visible;

    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        width: 80px;
    }

    .logo img {
        width: 30px;
    }

    .box {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        height: 90%;
        min-height: 800px;
        position: relative;
    }

    .box::before {
        content: "";
        position: absolute;
        left: 0;
        /* z-index: 11; */
        width: 100%;
        height: 40%;
        background-color: #091836;
    }

    .box button {
        background-color: white;
        color: #091836;
        font-family: poppins;
        font-weight: bold;
        font-size: 25px;
        /* width: 50%; */
        border-radius: 15px;
        cursor: pointer;
    }

    .swapMenu {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 40%;
    }

    .swapMenu .texto {
        color: white;
        width: 60%;
        text-align: center;
    }

    .content {
        width: 100%;
        height: 60%;
        max-height: 480px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        z-index: 10;
    }

    .esquerda {
        display: flex;
        flex-direction: column;
        width: 40%;
    }

    .divInputs input {
        width: 160px;
    }


    .inputs {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 80%;
        min-height: 300px;
    }

    .esquerda {
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .divInputs {
        display: flex;
        flex-direction: row;
        height: fit-content;
        justify-content: space-between;
        width: 90%;
    }

    .divInputs input {
        width: 60%;
    }

    .divInputs .span {
        width: 40%;
    }


    .content button {
        background-color: #091836;
        color: white;
        font-family: poppins;
        font-weight: bold;
        font-size: 25px;
        /* width: 30%; */
        border-radius: 15px;
        cursor: pointer;
    }

    .login .swapMenu {
        z-index: 12;
    }

    .cadastro {
        position: absolute;
        /* background-color: white; */
    }

    .cadastro .swapMenu {
        z-index: -1;
    }

    .cadastro .content {
        z-index: -1;
    }

    .alterarParaCadastro .login .swapMenu {
        z-index: -1;
        position: relative;
        animation: aparecer 2s;
    }

    .alterarParaCadastro .login .content {
        z-index: -1;
        position: relative;
        /* animation: deslocamentoEsq 2s; */

    }

    .alterarParaCadastro .box::before {
        z-index: 11;
        top: 60%;
        animation: slidein 2s;
    }

    .alterarParaCadastro .cadastro .swapMenu {
        z-index: 12;
        position: relative;
        /* animation: aparecerEsq 2s; */
        animation: surgir 2s;
    }

    .alterarParaCadastro .cadastro .content {
        z-index: 10;
        animation: surgir 2s;

    }

    /*  */

    .alterarParaLogin .cadastro .swapMenu {
        position: relative;
        z-index: -1;
        /* animation: aparecer 10s; */
    }

    .alterarParaLogin .cadastro .content {
        position: relative;
        z-index: -1;
        /* animation: deslocamentoDir 2s; */
    }

    .alterarParaLogin .box::before {
        z-index: 11;
        left: 0;
        animation: slideout 2s;
    }

    .alterarParaLogin .login .swapMenu {
        z-index: 12;
        position: relative;
        animation: aparecerEsq 2s;
    }

    .alterarParaLogin .login .content {
        z-index: 10;
        animation: surgir 2s;
    }

    @keyframes deslocamentoEsq {
        from {
            top: 0;
            opacity: 1;
            z-index: 11;

        }


        30% {
            opacity: 0;
        }

        to {
            top: 60%;
            opacity: 0;
            z-index: -1;
        }
    }

    @keyframes deslocamentoDir {

        from {
            top: 0;
            opacity: 1;
            z-index: 11;
        }

        30% {
            opacity: 0;
        }

        to {
            top: 60%;
            opacity: 0;
            z-index: -1;
        }
    }

    @keyframes slidein {

        from {
            top: 0;
        }

        to {
            top: 60%;
        }
    }

    @keyframes slideout {

        from {
            top: 60%;

        }

        to {
            top: 0;
        }
    }

    @keyframes aparecerEsq {
        from {
            top: 60%;
            opacity: 0;
        }

        to {
            opacity: 1;
            top: 0;
        }
    }

    @keyframes aparecerDir {
        from {
            top: 0;
            opacity: 0;
        }

        to {
            opacity: 1;
            top: 60%;
        }
    }

    @keyframes surgir {
        from {
            opacity: 0;
        }

        80% {
            opacity: 0.5;
        }

        to {
            opacity: 1;
        }
    }

    input {
        height: 40px;
        width: 200px;
        background-color: #d9d9d9;
        border: none;
        border-radius: 20px;
        padding-left: 10px;
    }

    .form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form button {
        width: 30%;
    }

}