body {
    body {
        background: rgb(9,24,54);
        background: linear-gradient(90deg, rgba(9,24,54,1) 0%, rgba(96,111,130,1) 100%);
        margin: 0;
        padding: 0;
    }
}

.login-container {
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    width: 400px;
}

.login-container h2 {
    margin-top: 0;
    color: #000;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 10px 10px 10px 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 2px 5px rgba(0,0,0,0.1);
}

.input-group i {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #888;
}

.buttons button {
    width: calc(50% - 10px);
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #556DAC;
    color: white;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #405B90;
}

.buttons button:first-child {
    margin-right: 20px;
}
