body {
    background: rgb(9,24,54);
    background: linear-gradient(90deg, rgba(9,24,54,1) 0%, rgba(96,111,130,1) 100%);
    margin: 0;
    padding: 0;
    font-family: poppins ;
}

@font-face {
    font-family: poppins;
    src: url(../assets/fonte/Poppins/Poppins-Black.ttf);
}

/* Telas grandes */
@media screen and (min-width: 1000px) {

    .box {
        display: flex;
        flex-direction: row;
        background-color: #0e1d40;
        width: 56%;
        height: 80%;
        border-radius: 51px;
    }

    @media screen and (min-width: 2000px) {
        .box {
            width: 1120px;
        }
    }

    @media screen and (min-height: 800px) {
        .box {
            height: 566px;
        }
    }
    
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 16vh;
        width: 100vw;
    }
    
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;
        width: 10%;
        
    }
    
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 84vh;
        width: 100vw;
    }
    

    
    .leftBox {
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        color: white;
    }

    .leftBox span {
        font-size: 25px;
        width: 80%;
    }

    .leftBox button {
        background-color:white;
        color: #091836;
        font-family: poppins;
        font-weight: bold;
        font-size: 25px;
        /* width: 50%; */
        border-radius: 15px;
        cursor: pointer;
    }
    
    .rightBox {
        width: 55%;
        height: 100% - 10px;
        /* Subtraindo 10px por causa da */
        background-color: white;
        border-radius: 51px;
        border-width: 5px;
        border: #a6a6a6 solid;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .divInputs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
    }

    input {
        height: 40px;
        width: 200px;
        background-color: #d9d9d9;
        border: none;
        border-radius: 20px;
        padding-left: 10px;
    }

    .rightBox button {
        background-color: #091836;
        color: white;
        font-family: poppins;
        font-weight: bold;
        font-size: 25px;
        width: 30%;
        border-radius: 15px;
        cursor: pointer;
    }

    .boxInputs {
        width: 100%;
        height: 60%;
        display: flex;
        justify-content: space-around;
    }

    .leftInputs input {
        width: 90%;
    }

    .rightInputs input {
        width: 90%;
    }

    @media screen and (max-height: 550px) {
        .box {
            height: 365px;
        }
    }
}

/* Telas pequenas */
@media screen and (max-width: 480px) {


    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 16vh;
        width: 100vw;
    }
    
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        
    }
    
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 84vh;
        width: 100vw;
    }
    
    .box {
        display: flex;
        flex-direction: column;
        background-color: #0e1d40;
        width: 100%;
        height: fit-content;
        border-radius: 51px;
    }
    
    .leftBox {
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        color: white;
    }

    .leftBox h1 {
        padding: 0;
        margin: 0;
    }

    .leftBox span {
        display: none;
    }

    .leftBox button {
        display: none;
    }
    
    .rightBox {
        width: 100%;
        height: 80%;
        /* Subtraindo 10px por causa da */
        background-color: white;
        border-radius: 51px;
        border-width: 5px;
        border: #a6a6a6 solid;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .divInputs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
    }
    
    @media screen and (min-width: 280px) {
        input {
            height: 40px;
            width: 200px;
            background-color: #d9d9d9;
            border: none;
            border-radius: 20px;
            padding-left: 10px;
        }
    }
    
    @media screen and (max-width: 280px) {
        input {
            height: 40px;
            width: 60vw;
            background-color: #d9d9d9;
            border: none;
            border-radius: 20px;
            padding-left: 10px;
        }
    }
    
    @media screen and (max-width: 200px) {
        h1 {
            font-size: 20px;
        }
    }

    @media screen and (max-height: 340px) {
        .box {
            height: fit-content;
            border-radius: 20px;
        }

        .rightBox {
            border-radius: 20px;
        }

        .navbar {
            height: 54px;
            width: 100vw;
        }

        .logo{
            height: 100%;
        }
    }

    @media screen and (min-width: 330px) {
        .rightBox button {
            background-color: #091836;
            color: white;
            font-family: poppins;
            font-weight: bold;
            font-size: 25px;
            width: 30%;
            border-radius: 15px;
            cursor: pointer;
        }
    }

    @media screen and (max-width: 330px) {
        .rightBox button {
            background-color: #091836;
            color: white;
            font-family: poppins;
            font-weight: bold;
            font-size: 25px;
            width: 99px;
            border-radius: 15px;
            cursor: pointer;
        }
    }
}
    
    
    


/* Telas médias */
@media screen and (min-width: 480px) and (max-width: 720px) and (min-height: 390px) {
    
    
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 16vh;
        width: 100vw;
    }
    
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        
    }
    
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 84vh;
        width: 100vw;
    }
    
    .box {
        display: flex;
        flex-direction: row;
        background-color: #0e1d40;
        width: 80%;
        height: 80%;
        border-radius: 51px;
    }
    
    .leftBox {
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        color: white;
    }

    .leftBox span {
        font-size: 25px;
        width: 80%;
    }

    .leftBox button {
        background-color:white;
        color: #091836;
        font-family: poppins;
        font-weight: bold;
        font-size: 20px;
        /* width: 50%; */
        border-radius: 15px;
        cursor: pointer;
    }
    
    .rightBox {
        width: 55%;
        height: 100% - 10px;
        /* Subtraindo 10px por causa da */
        background-color: white;
        border-radius: 51px;
        border-width: 5px;
        border: #a6a6a6 solid;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .divInputs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
    }

    input {
        height: 40px;
        width: 200px;
        background-color: #d9d9d9;
        border: none;
        border-radius: 20px;
        padding-left: 10px;
    }

    .rightBox button {
        background-color: #091836;
        color: white;
        font-family: poppins;
        font-weight: bold;
        font-size: 20px;
        /* width: 30%; */
        border-radius: 15px;
        cursor: pointer;
    }
}

@media screen and (min-width: 480px) and (max-width: 720px) {
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 12vh;
        width: 100vw;
    }
    
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        
    }
    
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 88vh;
        width: 100vw;
    }
    
    .box {
        display: flex;
        flex-direction: row;
        background-color: #0e1d40;
        width: 90%;
        height: 90%;
        border-radius: 51px;
    }
    
    .leftBox {
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        color: white;
    }

    .leftBox span {
        font-size: 20px;
        width: 80%;
    }

    .leftBox button {
        background-color:white;
        color: #091836;
        font-family: poppins;
        font-weight: bold;
        font-size: 20px;
        /* width: 50%; */
        border-radius: 15px;
        cursor: pointer;
    }
    
    .rightBox {
        width: 55%;
        height: 100% - 10px;
        /* Subtraindo 10px por causa da */
        background-color: white;
        border-radius: 51px;
        border-width: 5px;
        border: #a6a6a6 solid;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .divInputs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
    }

    input {
        height: 40px;
        width: 200px;
        background-color: #d9d9d9;
        border: none;
        border-radius: 20px;
        padding-left: 10px;
    }

    .rightBox button {
        background-color: #091836;
        color: white;
        font-family: poppins;
        font-weight: bold;
        font-size: 20px;
        /* width: 30%; */
        border-radius: 15px;
        cursor: pointer;
    }
}

/* Tablets */
@media screen and (min-width: 720px) and (max-width: 1000px) {
    
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 16vh;
        width: 100vw;
    }
    
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;
        width: 10%;
        
    }
    
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 84vh;
        width: 100vw;
    }
    
    .box {
        display: flex;
        flex-direction: row;
        background-color: #0e1d40;
        width: 70%;
        height: 90%;
        border-radius: 51px;
    }
    
    .leftBox {
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        color: white;
    }

    .leftBox span {
        font-size: 25px;
        width: 80%;
    }

    .leftBox button {
        background-color:white;
        color: #091836;
        font-family: poppins;
        font-weight: bold;
        font-size: 25px;
        /* width: 50%; */
        border-radius: 15px;
        cursor: pointer;
    }
    
    .rightBox {
        width: 55%;
        height: 100% - 10px;
        /* Subtraindo 10px por causa da */
        background-color: white;
        border-radius: 51px;
        border-width: 5px;
        border: #a6a6a6 solid;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .divInputs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
    }

    input {
        height: 40px;
        width: 200px;
        background-color: #d9d9d9;
        border: none;
        border-radius: 20px;
        padding-left: 10px;
    }

    .rightBox button {
        background-color: #091836;
        color: white;
        font-family: poppins;
        font-weight: bold;
        font-size: 25px;
        width: 30%;
        border-radius: 15px;
        cursor: pointer;
    }
}

    
    /* .navbar ul {
        list-style: none;
        width: 40%;
        display: flex;
        flex-direction: row;
    justify-content: space-around;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;

} */