@font-face {
    font-family: poppins;
    src: url(../assets/fonte/Poppins/Poppins-Black.ttf);
 }





body {
    background: rgb(9,24,54);
    background: linear-gradient(90deg, rgba(9,24,54,1) 0%, rgba(96,111,130,1) 100%);
    margin: 0;
    padding: 0;
    font-family: poppins;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
   
}
.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: xx-large;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 10%;

}
.conteudo {
    text-align: center;
    display: flex;

    
}

.quem-somos{
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.corpo{
    display: flex;
    width: 60%;
}

.conteudo h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #fff;
    font-family: "poppins";
    flex-wrap: wrap;
}
.conteudo p {
    font-size: 25px;
    margin-bottom: 30px;
    color: #fff;
    font-family: "poppins";
    text-align: justify;
    
    
}
.botao1{
    display: flex;
    width: 60%;
}

.saiba-mais {
    background-color: #ffffff;
    color:  rgb(9,24,54);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-size: poppins;
    font-weight: bold;
    border-radius: 14px
}

.picture{  
  display: flex;
  width: 50%;
  height: 100%;
}