@font-face {
    font-family: poppins;
    src: url(../assets/fonte/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins-bold;
    src: url(../assets/fonte/Poppins/Poppins-Black.ttf);
}

body {
    background: rgb(9, 24, 54);
    background: linear-gradient(90deg, rgb(4, 15, 36) 10%, rgba(96, 111, 130, 1) 100%);
    margin: 0;
    padding: 0;
    font-family: poppins;
}

.inicio {
    width: 100%;
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 2.1rem;
    font-family: poppins-bold;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 5%;
}

.conteudo {
    text-align: center;
    display: flex;
    height: 90%;
    width: 100%;
    justify-content: space-between;
}

.quem-somos {
    display: flex;
    width: 85%;
    height: 85%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.title {
    display: flex;
    justify-content: start;
    width: 70%;
    height: 14%;
}

.corpo {
    display: flex;
    width: 99%;
}

.conteudo h1 {
    font-size: 45px;
    margin-bottom: 20px;
    color: #fff;
    font-family: poppins-bold;
    flex-wrap: wrap;
}

.conteudo p {
    font-size: 30px;
    color: #fff;
    font-family: "poppins";
    text-align: start;
}

.botao1 {
    display: flex;
    width: 90%;
}

.saiba-mais {
    background-color: #ffffff;
    color: rgb(9, 24, 54);
    padding: 15px 23px;
    border: none;
    cursor: pointer;
    font-size: 23px;
    font-family: poppins-bold;
    border-radius: 14px;
}

.picture {
    display: flex;
    width: 60%;
    height: 90%;
    justify-content: end;
}

.imagem {
    clip-path: polygon(35% 0, 100% 0, 100% 100%, 0% 100%);
}

.opcoes-pai {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-evenly;
}

.opcoes {
    width: 28%;
    height: 100%;
    justify-content: center;
    align-items: center;

}


.espaco {
    width: 30%;
    height: 100%;
    background-color: purple;
}

.opcoes a {
    font-size: 30px;
}

.home {
    height: 400vh;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
}

.pagina {
    height: 200vh;
}

.servicos {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100vh;
    width: 100%;
}

.servicos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
}


.servicos-conteudo {
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

}

.servicos-esquerda {
    width: 10%;
    height: 100%;

}

.servicos-direita {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo-servico {
    display: flex;
    width: 93%;
    height: 25%;

}

.texto-servico {
    display: flex;
    width: 93%;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.botao-servico {
    display: flex;
    width: 93%;
    height: 15%;
}


.servicos-conteudo h2 {
    font-size: 48px;
    font-family: poppins-bold;
}

.servicos-conteudo p {
    font-size: 24px;
    font-family: poppins;
}

.parte1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
}


.parte2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    background-color: aliceblue;
}

.parte1-texto {
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 100%;

}

.parte1-imagem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}


.cadastre-se {
    background-color: white;
    color: rgb(9, 24, 54);
    padding: 4px 4px;
    border: none;
    font-size: 19px;
    font-family: poppins-bold;
    cursor: pointer;
    border-radius: 10px;
}

.imagem-redonda {
    width: 380px;
    height: 380px;
    border-radius: 50%;
}

.icones-servicos {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 30px;
}

.icone {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icone img {
    width: 70px;
    height: 70px;
}

.icone h3 {
    color: black;
    font-family: poppins-bold;

}

.icone p {
    color: black;
    font-family: poppins;
}

.soluções {
    text-align: center;
    font-family: poppins;
    background-color: white;
    height: 100vh;
}

.titulo-solucao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
}

.text-solucao {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 100%;
    height: 25%;

}

.text-solucao p {
    text-align: center;
    color: grey;
    justify-content: center;
    font-family: poppins;
    font-size: larger;
    width: 70%;
}


.img-solucao {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    height: 60%;
   background: linear-gradient(90deg, rgb(4, 15, 36) 10%, rgba(96, 111, 130, 1) 100%);/* Gradiente de cores */
    color: #fff;
    padding: 50px 20px;
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);


}

.sistema {
    color: white;
    font-family: poppins-bold;
    font-size: 30px;
    background-color:  linear-gradient(90deg, rgb(4, 15, 36) 10%, rgba(96, 111, 130, 1) 100%);
}

.sistema p {
    color: white;
    font-family: poppins;
    width: 50%;
    font-size: 29px;
}


.footer {
    display: flex;
    justify-content: space-around;
    background-color: #000d1c;
    color: white;
    padding: 20px;
}

.footer-bloco {
    width: 30%;
    text-align: center;
}

.footer-bloco h3 {
    margin-bottom: 10px;
}

.footer-bloco a {
    color: white;
    text-decoration: none;
}

.footer-bloco a:hover {
    text-decoration: underline;
}