body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-thumb {
    background: #091836;
    border-radius: 10px;
}

html {
    scroll-behavior: smooth;
}

/* fonte normal */
@font-face {
    font-family: 'SFUIText-Regular.ttf';
    font-style: normal;
    font-weight: bold;
    src: local('fonte/SFUIText-Regular.ttf'), url('../assets/fonte/SFUIText-Regular.ttf') format('woff');
}

/* fonte normal italica */
@font-face {
    font-family: 'SFUIText-Italic.ttf';
    font-style: normal;
    font-weight: bold;
    src: local('fonte/SFUIText-Italic.ttf'), url('../assets/fonte/SFUIText-Italic.woff') format('woff');
}

/* fonte negrito  */
@font-face {
    font-family: 'SFUIText-Bold.ttf';
    font-style: normal;
    font-weight: bold;
    src: local('fonte/SFUIText-Bold.ttf'), url('../assets/fonte/SFUIText-Bold.woff') format('woff');
}

/* fonte negrito italica */
@font-face {
    font-family: 'SFUIText-BoldItalicG1.ttf';
    font-style: normal;
    font-weight: bold;
    src: local('fonte/SFUIText-BoldItalicG1.ttf'), url('../assets/fonte/SFUIText-BoldItalicG1.woff') format('woff');
}

/* fonte negrito italica */
@font-face {
    font-family: 'SFUIText-Heavy.ttf';
    font-style: normal;
    font-weight: bold;
    src: local('fonte/SFUIText-Heavy.ttf'), url('../assets/fonte/SFUIText-Heavy.woff') format('woff');
}

/* 
cores 
#091836
#fc9e19
#405de4
*/

/* section com Bg Fixo */
.topo {
    width: 100%;
    height: 100vh;
}

/* background */
.background {
    background: url('../assets/imgs/bg.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 99vh;
    justify-content: center;
    z-index: -1;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}
.navbar .logoImg {
    width: fit-content;
    height: fit-content;
    padding: 30px 0px 30px 0px;
    margin-left: 100px;
}
.navbar .logoImg img {
    color: #fff;
    width: 60px;
}
.navbar .logoImg a {
    color: #fff;
    text-decoration: none;
    font-family: 'SFUIText-Regular.ttf';
    font-size: 2.5vw;
}
.navbar .navBtn {
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: fit-content;
    margin-right: 260px;
}
.navbar .navBurguer {
    display: none;
}
.navbar .navBtn a {
    color: black;
    text-decoration: none;
    font-family: 'SFUIText-Heavy.ttf';
    font-size: 25px;
}
.navbar .navBtn a:hover {
    transform: scale(1.1);
    transition: 1.5s ease;
    cursor: pointer;
}

/* footer */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 45vh;
    background: #091836;
}

.btn-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: 100px;
    margin-left: 200px;
    margin-bottom: 100px;

}
.btn-footer h1{
    font-family: 'SFUIText-Bold.ttf';
    font-size: 35px;
    color: #fff;
    margin: 0;
    padding: 0;
}
.btn-footer p{
    font-family: 'SFUIText-regular.ttf';
    font-size: 20px;
    color: #fff;

}
.social-footer {
    display: flex;
    align-items: left;
    width: fit-content;
    height: fit-content;
}
.social-footer i {
    color: #fff;
    font-size: 40px;
}

.direitos-footer {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 40%;
    height: 100%;
}

.cardSombra-footer {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 40px;
    font-family: 'SFUIText-Regular.ttf';
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}
.card-footer {
    display: flex;
    position: relative;
    flex-direction: column;
    color: #fff;
    background-color: #0e224b;
    font-size: 40px;
    font-family: 'SFUIText-Regular.ttf';
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}
.card-footer p {
    font-size: 15px;
}

/* Formulario de Cadastro */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}

.input-cadastro {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 colunas de igual largura */
    gap: 10px;
}
.input-format {
    display: flex; 
    justify-content: center;
    align-items: center
}

.formBlue-Cadastro {  /* estilo */
    width: 50%;
    height: 100%;
    background: #091836;
    border: 4px solid #091836;
}
.formBlue-Cadastro { /* formatação do conteudo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formBlue-Cadastro h1 {
    font-size: 40px;
    width: 300px;
    font-family: 'SFUIText-Regular.ttf';
    color: #fff;
    margin: 0;
    text-align: center;
}
.formBlue-Cadastro .text-Cadastro {
    width: 300px;
    text-align: center;
}
.formBlue-Cadastro p {
    font-size: 25px;
    font-family: 'SFUIText-Regular.ttf';
    color: #fff;
    padding-bottom: 10px;
}
.formBlue-Cadastro .cadBtn-Cadastro {
    padding: 11px;
    border: 3px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    font-family: 'SFUIText-Bold.ttf';
    cursor: pointer;
}
.formBlue-Cadastro .cadBtn-Cadastro:hover {
    transform: scale(1.05);
    transition: 0.4s ease;
}

.formCadastroWhite { /* estilo */
    width: 50%;
    height: 100%;
    background: #fff;
    border: 4px solid #091836;
}
.formCadastroWhite h1 {
    font-family: 'SFUIText-Regular.ttf';
    font-size: 40px;
}
.formCadastroWhite { /* formatação conteudo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formCadastroWhite input {
    font-size: 20px;
    background: #d6d6d6;
    border: none;
    width: 205px;
    border-radius: 25px;
    font-family: 'SFUIText-Regular.ttf';
    padding: 10px;
    padding-left: 50px;
    margin-top: 20px;
    outline: 2px solid #545454;
}
.formCadastroWhite input::placeholder {
    font-size: 20px;
    position: relative;
    color: #545454;
}
.formCadastroWhite button {
    color: #fff;
    background: #e1316c;
    font-size: 25px;
    width: 140px;
    font-family: 'SFUIText-Bold.ttf';
    padding: 10px;
    border-radius: 25px;
    border: none;
    margin-top: 30px;
    margin-bottom: 50px;
}
.formCadastroWhite button:hover {
    transform: scale(1.05);
    transition: 0.5s ease;
    cursor: pointer;
}
#input-Cadastro {
    font-size: 30px;
    position: relative;
    top: 10px;
    left: 50px;
    color: #545454;
}
#input-lock {
    font-size: 30px;
    position: relative;
    top: 10px;
    left: 50px;
    color: #545454;
}
#input-cell {
    font-size: 30px;
    position: relative;
    top: 10px;
    left: 50px;
    color: #545454;
}
#input-key {
    font-size: 30px;
    position: relative;
    top: 10px;
    left: 50px;
    color: #545454;
}

.modulo {
    display: flex;
    flex-direction: column;
    width: 93%;
    height: 100%;
    border-radius: 40px;
    align-items: center;
}

/* Formulario de Login */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}

.formBlue-login {  /* estilo */
    width: 50%;
    height: 100%;
    background: #091836;
    border: 4px solid #091836;
}
.formBlue-login { /* formatação do conteudo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formBlue-login h1 {
    font-size: 50px;
    font-family: 'SFUIText-Regular.ttf';
    color: #fff;
    padding-top: 100px;
    margin: 0;
}
.formBlue-login .text-login {
    width: 300px;
    text-align: center;
}
.formBlue-login p {
    font-size: 25px;
    font-family: 'SFUIText-Regular.ttf';
    color: #fff;
    padding-bottom: 10px;
}
.formBlue-login .cadBtn-login {
    padding: 11px;
    border: 3px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    font-family: 'SFUIText-Bold.ttf';
    cursor: pointer;
}
.formBlue-login .cadBtn-login:hover {
    transform: scale(1.05);
    transition: 0.4s ease;
}

.formLoginWhite { /* estilo */
    width: 50%;
    height: 100%;
    background: #fff;
    border: 4px solid #091836;
}
.formLoginWhite { /* formatação conteudo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formLoginWhite input {
    font-size: 20px;
    background: #d6d6d6;
    border: none;
    width: 205px;
    border-radius: 25px;
    font-family: 'SFUIText-Regular.ttf';
    padding: 10px;
    padding-left: 50px;
    margin-top: 20px;
    outline: 2px solid #545454;
}
.formLoginWhite input::placeholder {
    font-size: 20px;
    position: relative;
    color: #545454;
}
.formLoginWhite button {
    color: #fff;
    background: #e1316c;
    font-size: 25px;
    width: 140px;
    font-family: 'SFUIText-Bold.ttf';
    padding: 10px;
    border-radius: 25px;
    border: none;
    margin-top: 30px;
    margin-bottom: 50px;
}
.formLoginWhite button:hover {
    transform: scale(1.05);
    transition: 0.5s ease;
    cursor: pointer;
}
.formLoginWhite h1 {
    font-family: 'SFUIText-Bold.ttf';
    font-size: 50px;
}

#user-login {
    font-size: 30px;
    position: relative;
    top: 60px;
    right: 100px;
    color: #545454;
}
#user-lock {
    font-size: 30px;
    position: relative;
    top: 60px;
    right: 100px;
    color: #545454;
}

.modulo {
    display: flex;
    flex-direction: column;
    width: 93%;
    height: fit-content;
    border-radius: 40px;
    align-items: center;
}

.conter {
    position: relative;
    z-index: 2;
    width: 100%;
    height: fit-content;
}   

/* Container Inicio */

.container-inicio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90vh;
}
.servico-inicio {
    height: 60vh;
    padding-right: 200px;
    margin-left: 100px;
}
.servico-inicio h1{
    color: #fff;
    font-size: 40px;
    font-family: 'SFUIText-Bold.ttf';

}
.servico-inicio p{
    color: #fff;
    font-size: 28px;
    font-family: 'SFUIText-Regular.ttf';
    width: 450px;
    text-align: justify;
    height: fit-content;
    padding-bottom: 20px;

}
.servico-inicio button{
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    background: #e1316c;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-family: 'SFUIText-Bold.ttf';
}
.servico-inicio button:hover {
    transform: scale(1.05);
    transition: 0.5s ease;
    font-size: 35px;
    cursor: pointer;
}

.imagem-inicio {
    padding: 10px;
}
.imagem-inicio img{
    width: 650px;
    height: auto;
}

.container-sobre {
    width: 100%;
    height: 80vh;
    background: 
    linear-gradient(rgba(0, 0, 0, 0.850), rgba(0, 0, 0, 0.850)), 
    url('../assets/imgs/data.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-sobre {
    padding: 10px;
    height: 60vh;
    display: flex;
    flex-direction: column;
}
.texto-sobre h1{
    color: #fff;
    font-family: 'SFUIText-Bold.ttf';
    font-size: 40px;
    text-align: left;
}
.texto-sobre p{
    color: #fff;
    font-family: 'SFUIText-Regular.ttf';
    font-size: 30px;
    text-align: left;
    width: 702px;
    height: fit-content;
}
.texto-sobre a{
    font-family: 'SFUIText-Bold.ttf';
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    background: #e1316c;
    border-radius: 10px;
    padding: 10px;
    width: 250px;
}
.texto-sobre a:hover{
    transform: scale(1.05);
    transition: 0.5s ease;
    cursor: pointer;
}

.atributos-sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 600px;
}
.atributos-sobre i {
    font-size: 100px;
    color: #fff;
}

.container-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Define 2 colunas de tamanho igual */
    grid-template-rows: repeat(2, 1fr); /* Define 2 linhas de tamanho igual */
    gap: 30px;
}

.box-sobre {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #7c7c7c85;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.box-sobre p {
    color: #fff;
    font-size: 15px;
    font-family: 'SFUIText-Bold.ttf';
}

.container-valores {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 80vh;
}

.titulo-valores {
    display: flex;
    justify-content: center;
    align-items: center;

}
.titulo-valores h1 {
    font-family: 'SFUIText-Bold.ttf';
    padding: 0;
    margin: 0;
    font-size: 40px;
    color: #000;
}

.flex-valores {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.card-valores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.card-valores p {
    color: #000;
    font-size: 20px;
    font-family: 'SFUIText-Bold.ttf';
}
.card-valores i {
    color: #000;
    font-size: 100px;
}
.card-valores .compromisso {
    width: 135px;
}
.card-valores .integridade {
    width: 100px;
}

/* menu bugu */

.menuBugu {
    width: 300px;
    height: 100%;
    position: absolute;
    right: -300px; /* por enquanto*/
    background: #091836;
    transition: right 0.5s;
}
.menuBugu i {
    color: #fff;
    font-size: 40px;
}

.close-burguer {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: flex-start;
}
.pages-burguer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: fit-content;
    padding: 20px;
}



/* Responsivo landing page */

@media (max-width:1550px) {
    .topo .navBtn {
        display: none;
    }
    .topo .navBurguer {
        display: flex;
        justify-content: center;
        width: fit-content;
        height: fit-content;
        margin-right: 50px;
    }
    .topo .navBurguer i {
        color: #000;
        font-size: 65px;
    }
    .topo .background {
        background: url('../assets/imgs/bgResp.jpg');
    } 
    .topo .card-valores {
        width: 200px;
        height: 200px;
    } 
    .topo .card-valores i {
        font-size: 60px;
    }
    .topo .card-valores img {
        width: 60px;
    }
    .topo .card-valores p {
        font-size: 18px;
    }
    .topo .input-format input::placeholder {
        font-size: 15px;
    }
} 

@media (max-width:1230px) {
    .topo .navBurguer i {
        color: #fff;
        font-size: 65px;
    }
    .topo .logoImg {
        margin-left: 30px;
    }
    .topo .container-sobre {
        display: flex;
        flex-direction: column;
        height: 1100px;
    }
    .topo .container-valores {
        height: 60vh;
    }
    .topo .card-valores {
        width: 140px;
        height: 140px;
    } 
    .topo .input-format input {
        width: 113px;
    }
    .topo .input-format #input-lock {
        font-size: 25px;
    }
    .topo .formCadastroWhite {
        margin: 20px;
        border: none;
    }
    
    .topo .flex-valores {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Define 2 colunas de tamanho igual */
        grid-template-rows: repeat(1, 1fr); /* Define 2 linhas de tamanho igual */
        gap: 30px;
        width: fit-content;
    }
} 

@media (max-width:710px) {
    .topo .navbar {
        margin-bottom: 230px;
    }
    .topo .servico-inicio h1 {
        width: 100px;
        padding-top: 0;
        margin-top: 0;
    }
    .topo .servico-inicio p {
        width: 400px;
    }
    .topo .container-sobre .texto-sobre p {
        width: 500px;
    }
    .topo .container-sobre {
        height: 1300px;
    }
    .topo .card-valores {
        display: flex;
        width: 130px;
        height: 130px;
        align-self: center;
        justify-self: center;
    } 
    .topo .card-valores i {
        font-size: 50px;
    }
    .topo .form-container {
        flex-direction: column;
    }
    .topo .card-valores img {
        width: 50px;
    }
    .topo .card-valores p {
        font-size: 15px;
    }
    .topo .formBlue-login {
        width: 100%;
        padding: 100px;
    }
    .topo .formLoginWhite {
        width: 100%;
        padding: 100px;
    }
    .topo .formBlue-Cadastro {
        width: 100%;
        margin: 50px;
        padding: 100px;
        height: auto;
    }
    .topo .formCadastroWhite {
        width: 100%;
        height: auto;
    }
    .topo .modulo h1 {
        padding-top: 5px;
    }
    .topo .input-cadastro {
        grid-template-columns: 1fr;
    }
} 


@media (max-width:530px) {
    .topo .servico-inicio p {
        width: 250px;
    }
    .topo .container-sobre .texto-sobre p {
        width: 350px;
    }
    .topo .container-sobre {
        height: 1750px;
    }
} 

@media (max-width:530px) {
    .topo .container-inicio {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .topo .imagem-inicio{
        display: none;
    }
    .topo .servico-inicio p {
        width: 250px;
    }
    .topo .servico-inicio{
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        width: fit-content;
        margin: 0;
        padding: 0;
    }
    .topo .container-sobre .texto-sobre p {
        width: 350px;
    }
    .topo .navBurguer {
        margin-right: 10px;
    }

    .topo .container-sobre {
        display: flex;
        flex-direction: column;
        height: 1300px;
        justify-content: flex-start;
        align-items: center;
    }
    .topo .box-sobre {
        width: 165px;
        height: 165px;
    }
    .topo .texto-sobre {
        margin: 0;
        padding: 0;
        width: fit-content;
        align-items: center;
    }
    .topo .texto-sobre p {
        font-size: 25px;
        text-align: justify;
    }
    .topo .flex-valores {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Define 2 colunas de tamanho igual */
        grid-template-rows: repeat(3, 1fr); /* Define 2 linhas de tamanho igual */
        gap: 30px;
        width: fit-content;
    }
    .topo .container-valores {
        height: 80vh;
    }
    .topo .titulo-valores h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
    }
    .topo .box-sobre {
        width: 160px;
        height: 160px;
    }
    .topo .box-sobre i {
        font-size: 60px;
    }
    .topo .box-sobre p {
        font-size: 15px;
    }
    
} 