body {
    overflow: hidden;
}

.servers-container {
    height: 10%;
    width: 85%;
    top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
}

.servers-slider {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.server {
    min-width: 150px;
    height: 50px;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    /* box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2); */
}

.arrow {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
}

.selected {
    border: 3px solid transparent;
    border-radius: 10px;
    background:
        linear-gradient(to right, white, white),
        linear-gradient(to right bottom, rgb(44, 71, 190), rgb(255, 0, 221));
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}

.charts {
    height: 100vh;
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chart {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 95%;
    height: 43%;
    margin: 8px;
}

.stability {
    flex-direction: row;
}

.oscilation {
    flex-direction: row;
}

.metric {
    height: 100%;
    width: 40%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.metric-box {
    display: flex;
    height: 70%;
    width: 40%;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.text-box {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.values {
    background-color: white;
    height: 60%;
    width: 80%;
    border-radius: 15px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
}

.chart-stability {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 50%;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.combo-box {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 40%;
}

.select {
    width: 45%;
    border-radius: 10px;
    border: none;
    text-align: center;
    background-color: white;
}

.select select {
    display: none;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.chart-title {
    width: fit-content;
    font-size: 1.2em;
    font-weight: bold;
}

.chart-gerente-02 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90%;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    background-color: white;
    border-radius: 10px;
}

.chart-gerente-03 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90%;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    background-color: white;
    border-radius: 10px;
}

.chart-oscilation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 50%;
}

#MyChart01 {
    width: 100%;
    height: 100%;
    padding: 5px;
    /* border: 1px solid black; */
    border-radius: 10px;
}

#MyChart02 {
    width: 100%;
    height: 100%;
    padding: 5px;
    /* border: 1px solid black; */
    border-radius: 10px;
}