button {
    background-color: #d7def0;
    padding: 10px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.button-discretizacao {
    background-color:#102e76;
    border: none;
    color: white;
    border-radius: 15px;
    padding: 10px;
}